<!doctype html>
<html>
<head>
<title>SSMS- Admin</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}" />

<script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='custom.js') }}"></script>

</head>
<body>
<div class="container">
	

<div class="row-fluid">
    <div class="span12">
        <h2>
            SSMS Admin Panel
        </h2>
    </div>
</div>
{% if message != None and message != '' %}
    <div class="row-fluid">
        <div class="span12">
            {% if message == 'ok' %}
                <h4 class="alert alert-success">
                    Success!
                </h4>
            {% else %}
                <h4 class="alert alert-error">
                    {{ message }}
                </h4>
            {% endif %}
        </div>
    </div>
{% endif %}
<div class="row-fluid">
    <div class="span12">
        <hr />
    </div>
</div>
    {% block body %}{% endblock %}
</div>
</body>