{% extends "admin_base.html" %}

{% block body %}


<div class="row">
    <div class="span12">
        <h2>
            SSMS Admin Panel
        </h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="span12">
        <form>
        
            <table>
            
            
            </table>
        
        </form>
    </div>
</div>
<div class="row">
    <div class="span12">
        <hr />
    </div>
</div>




{% endblock %}