<!doctype html>
<html>
<head>

<title>SSMS- Personal Cloud Music</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.10.3/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}" />

<script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='custom.js') }}"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <a href="/">
                <h2>
                    SSMS
                </h2>
            </a>
        </div>
    </div>
    
    {% if message != None and message != '' %}
        <div class="row-fluid">
            <div class="span12">
                {% if message == 'ok' %}
                    <h4 class="alert alert-success">
                        Success!
                    </h4>
                {% else %}
                    <h4 class="alert alert-error">
                        {{ message }}
                    </h4>
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    <div class="row-fluid">
        <div class="span12">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <hr />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li>
                    <a href='javascript:void(0);' onClick='showAdmin()'>admin</a>
                </li>
                <li>
                    <a href='/logout'>logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <hr />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
        <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
            &copy;
        </span>
            <!--[if lte IE 8]></span><![endif]--> Aaron Decker 2013. Free to use, free to modify.
        </div>
    </div>
</div>
</body>
</html>