<table class="table table-striped">
    <tr>
        <th>
            File
        </th>
        <th>
            size
        </th>
        <th>
            Add
        </th>
    </tr>
    {% for file in listing %}
        <tr>
            <td>
                {% if file.isDir %}
                    <a href='javascript:void(0);' class='dir' onClick='loadDir("{{ file.safePath|replace( "\\", "/") }}")'>{{ file.name }}</a>
                {% else %}
                    <a href='javascript:void(0);' class='file' onClick='playFile("{{ file.safePath|replace( "\\", "/s") }}")'>{{ file.name }}</a>
                {% endif %}
            </td>
            <td>
                {% if file.isDir == False %}
                    {{ file.sizeStr }}
                {% else %}
                    directory
                {% endif %}
                
            </td>
            <td>
                {% if file.isDir == False %}
                    <div class="btn-group">
                        <a class="btn btn-small btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                            +
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Add to Playlist</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onClick='downloadFile("{{ file.safePath|replace( "\\", "/s") }}")'>Download file</a>
                            </li>
                            <li>
                                <a href="#">Mark</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="btn-group">
                        <a class="btn btn-small btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                            +
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);" onClick='downloadFolder("{{ file.safePath|replace( "\\", "/s") }}")'>Download Folder</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onClick='uploadToLocation("{{ file.safePath|replace( "\\", "/s") }}")'>Upload Here</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onClick='makeNewDir("{{ file.safePath|replace( "\\", "/s") }}")'>New Folder Here</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>