{% extends "base.html" %}
{% block body %}
<style>

    .dir {
        color: #3D3D3D;
    }
    
    .file {
        color: #008DC9;
    }

</style>
<div id="player">
    <!-- 
        https://developer.mozilla.org/en-US/docs/DOM/HTMLMediaElement
    -->
    <audio controls id="audio_control" onended="songEnded()">
        <source id="song_src" src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <button onClick='prevSong()'>prev</button>
    <button onClick='nextSong()'>next</button>
    <button onClick='getRandom()'>random</button>
    <br />
    Playing:
    <span id="nowplaying">
        
    </span>
</div>
<h3>
    Files:
</h3>
<div id="dir_breadcrumb">

</div>
<div id='file_browser_table'>
    
    {% include "file_table.html" %}
    
</div>



{% endblock %}