{% extends "base.html" %}
{% block body %}
<style>

    .dir {
        color: #3D3D3D;
    }
    
    .file {
        color: #008DC9;
    }


    #audio_control {
        
    }

</style>
<div id="player">
    <!-- 
        https://developer.mozilla.org/en-US/docs/DOM/HTMLMediaElement

        Need to add custom controls like:

        http://www.terrillthompson.com/tests/html5-audio.html
        http://terrillthompson.com/blog/32
    -->
    <audio controls id="audio_control" onended="songEnded()">
        <source id="song_src"  type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div id="controls">

    </div>
    <button onClick='prevSong()'>prev</button>
    <button onClick='nextSong()'>next</button>
    <button onClick='getRandom()'>random</button>
    <br />
    Playing:
    <span id="nowplaying">
        
    </span>
</div>
<div>
    <form id="query_form">
        <div class="input-append">
          <input class="span2" style="width:250px;" id="query" type="text">
          <button class="btn" type="button" id="query_submit">Go!</button>
        </div>
    </form>
</div>
<h3>
    Browse:
</h3>
<div id="dir_breadcrumb">

</div>
<div id='file_browser_table'>
    
    {% include "file_table.html" %}
    
</div>



{% endblock %}