
<li>
    <a href="javascript:void(0);" onClick="newPlaylist()">New Playlist</a>
</li>
<li class="divider"></li>

{% for pl in playlists %}
	<li>
		<span>
			&nbsp;
			<a href="javascript:void(0);" onClick="playPlaylist({{ pl.id }})">
				{{ pl.name }}
			</a>
			&nbsp;
			<a href="javascript:void(0);" onClick="delPlaylist({{ pl.id }})" class="btn btn-danger">
				del
			</a>
			&nbsp;
			<a href="javascript:void(0);" onClick="editPlaylist({{ pl.id }})" class="btn btn-info">
				edit
			</a>
			<span class="clearfix"></span>
		</span>
	</li>
{% endfor %}