
<li>
    <a href="javascript:void(0);" onClick="newPlaylist()">New Playlist</a>
</li>
<li class="divider"></li>

{% for pl in playlists %}
	<li style="padding-bottom:5px;">
		<span>
			&nbsp;
			<a href="javascript:void(0);" onClick="playPlaylist({{ pl.id }})">
				{{ pl.name }}
			</a>
			&nbsp;
			<a href="javascript:void(0);" onClick="delPlaylist({{ pl.id }})" class="btn btn-danger" style="float:right;margin:5px;">
				del
			</a>
			&nbsp;
			<a href="javascript:void(0);" onClick="editPlaylist({{ pl.id }})" class="btn btn-info" style="float:right;margin:5px;">
				edit
			</a>
			&nbsp;
			<span class="clearfix"></span>
		</span>
	</li>
{% endfor %}